# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Jupyter temporary files
.ipynb_checkpoints/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log